<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Principal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lists.css">
    <link rel="stylesheet" href="/form.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white" th:href="@{/home}">Home</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" th:href="@{/teams}">Go to all teams</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" th:href="@{/cars}">Go to all cars</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" th:href="@{/drivers}">Go to all drivers</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" th:href="@{/principals}">Go to all principals</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" th:href="@{/races}">Go to all races</a>
    </div>
</div>

<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Add new principal</h1>
</header>

<div class="container" >

    <form class="form-container" method="POST" th:action="@{/principalAdd}" th:object="${principal}">
        <div class="form-group">
        <div th:if="${#fields.hasErrors()}">
          <span class="validationError">
             Oops! There seems to be a problem! Correct it and submit form again!
          </span>
        </div>
        <label class="form-label" for="firstName">FirstName:</label>
        <input class="form-input" id="firstName" th:field="*{firstName}" type="text"/>
        <span class="validationError"
              th:errors="*{firstName}"
              th:if="${#fields.hasErrors('firstName')}">FirstName Error
        </span>
        <br/>

        <label  class="form-label" for="lastName">LastName:</label>
        <input class="form-input" id="lastName" th:field="*{lastName}" type="text"/>
        <span class="validationError"
              th:errors="*{lastName}"
              th:if="${#fields.hasErrors('lastName')}">LastName Error
        </span>
        <br/>

        <label class="form-label" for="age">Age:</label>
        <input class="form-input" id="age" th:field="*{age}" type="number"/>
        <br/>

        <input class="form-button" type="submit" value="Submit"/>
        </div>
    </form>
</div>
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
    <div class="w3-xlarge w3-padding-32">
        <a  th:href="@{/principals}">Go back to principals</a>
    </div>
</footer>